@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #E9E9E0;
    margin: 0.5em auto;
    min-width: 5em;
    max-height: 50vw;
}

.home-button {
    border: 1em;
    color: #264B03;
    text-align: center;
    display: flex;
    font-size: 50px;
    flex-wrap: wrap;
    text-decoration: none;
}

.afleveringen-button {
    border: 1em;
    color: #275AA7;
    text-align: center;
    display: flex;
    font-size: 50px;
    flex-wrap: wrap;
    text-decoration: none;
}

.over-ons-button {
    border: 1em;
    color: #F5A82B;
    text-align: center;
    display: flex;
    font-size: 50px;
    flex-wrap: wrap;
    text-decoration: none;
}

ul {
    padding-left: 0;
    list-style-type: none;
    display:flex;
    gap:8em;
    flex-wrap: wrap;
    justify-content: center;
}

.active {
    text-decoration: underline;
    font-weight: bold;
}

nav ul {
    padding-top: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:8em;
    margin:auto;
    align-items: center;
}

ul img {
    height: auto;
    max-height: 200px;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw; 
    padding-top: 0vw;
}

main h1 {
    font-size: 9vw;
    font-weight: 900;
    color: black;
    margin-bottom: 0;
    line-height: 1.2;
    text-align: center;
}

main h2 {
    font-size: 3.5vw;
    color: black;
    margin-top: 0;
    line-height: 1.2;
}

main img {
    gap: 0px;
}